*{
    margin:0;
    padding:0;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
h3{
    margin-top: 10px;
}
footer{
    position: fixed;
    bottom: 0px;
    right:0px;
}
.banner{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: rgb(231, 231, 231);
    
}
.banner h1{
    font-size:30px;
    width:400px;
    
    background-color: rgb(231, 231, 231);
}
.navi{
    background-color: black;
}
.navi ul{
    overflow: auto;
}
.navi li{
    float: left;
    list-style: none;
    margin:2px;
}
.navi li a{
    text-decoration: none;
    font-size: 20px;
    padding:3px;
    color:white;
}
.navi li a:hover{
    background-color: green;
}
.navi li a:active{
    background-color: green;
}
.footer{
    text-align: right;
    background-color: rgb(231, 231, 231);
    color:black;
}
.content{
    font-size:"10px";
    margin-left: 40px;

}
#div1{
    float:left;
    width:60%;
    text-align: justify;
}
#div2{
    float: right;
    width:30%;  
    height:500px;
    background-color: rgb(231, 231, 231);
}
.div3{
    width:1400px;
    height: 30px;
    background:rgb(231, 231, 231);
}